body {
  margin: 0;
}
.section {
  padding: 30px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.section .container:first-child h1,
.section .container:first-child h2,
.section .container:first-child h3 {
  margin-top: 0;
  font-weight: 700;
}
div[class*="span"] {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #535b60;
}
h1 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h2 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  border-bottom: 2px solid #53555c;
  line-height: 1.5em;
  margin: 30px 0;
  padding-left: 10px;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  font-size: 1.5em;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  color: #53555c;
  margin-bottom: 10px;
}
a {
  color: #105BA1;
}
a:hover {
  color: #2f556d;
  text-decoration: none;
}
.role {
  color: black;
  font-size: 2em;
  left: 35%;
  width: 35%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 40%;
}
.subtitle {
  color: black;
  font-size: 1.6em;
  left: 35%;
  width: 35%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 50%;
}
.logo-wrapper {
  width: 90%;
  max-width: 350px;
}
.mainmenu li.logo-wrapper a {
  border-right: 1px solid #E8E8E8;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.mainmenu-wrapper {
  background-color: #FFF;
  border-bottom: 4px solid #105BA1;
  z-index: 4;
  padding-top: 30px;
}
.mainmenu {
  width: 100%;
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.mainmenu > ul,
.mainmenu .mainmenu-submenu-inner {
  margin: 0 auto;
}
.mainmenu > ul > li,
.mainmenu .mainmenu-submenu-inner > li {
  display: inline-block;
  *display: inline;
}
.mainmenu > ul > li > a,
.mainmenu .mainmenu-submenu-inner > li > a {
  font-size: 1.2em;
  padding: 1.2em 1.5em;
  color: #999;
  display: inline-block;
  text-decoration: none;
}
.mainmenu > ul > li > a:hover,
.mainmenu .mainmenu-submenu-inner > li > a:hover {
  color: #105BA1;
  text-decoration: none;
}
.mainmenu > ul > li.active > a,
.mainmenu .mainmenu-submenu-inner > li.active > a {
  color: #105BA1;
  font-weight: 600 !important;
}
.mainmenu > ul > li.mainmenu-open a,
.mainmenu .mainmenu-submenu-inner > li.mainmenu-open a,
.mainmenu > ul li.mainmenu-open > a:hover,
.mainmenu .mainmenu-submenu-inner li.mainmenu-open > a:hover {
  color: #fff;
  background: #105BA1;
}
.mainmenu .mainmenu-submenu {
  display: none;
  position: absolute;
  background: #105BA1;
  width: 100%;
  left: 0;
  z-index: 999;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
  color: 0 5px 5px rgba(0,0,0,0.4);
}
.mainmenu .mainmenu-submenu-inner > div {
  width: 33%;
  float: left;
}
.mainmenu .mainmenu-submenu-inner:before,
.mainmenu .mainmenu-submenu-inner:after {
  content: " ";
  display: table;
}
.mainmenu .mainmenu-submenu-inner:after {
  clear: both;
}
.mainmenu .mainmenu-submenu-inner > div a {
  line-height: 2em;
}
.mainmenu-open .mainmenu-submenu {
  display: block;
  padding-bottom: 3em;
}
.mainmenu-submenu h4 {
  color: #bad2e1;
  padding: 1em 0 0.6em;
  margin-left: 20px;
  font-size: 160%;
  font-weight: 300;
}
.mainmenu-submenu ul {
  margin-left: 20px;
}
@media screen and (max-width: 979px) {
  .mainmenu {
    font-size: 0.8em;
  }
  .mainmenu-submenu {
    font-size: 1.2em;
  }
  .mainmenu-submenu li,
  .mainmenu-submenu h4 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 479px) {
  .mainmenu {
    font-size: 120%;
    border: none;
  }
  .mainmenu > ul,
  .mainmenu .mainmenu-submenu-inner {
    width: 100%;
    padding: 0;
  }
  .mainmenu .mainmenu-submenu-inner {
    padding: 0 1.5em;
    font-size: 75%;
  }
  .mainmenu > ul > li {
    display: block;
    border-bottom: 4px solid #105BA1;
  }
  .mainmenu > ul > li > a {
    display: block;
    padding: 1em 3em;
  }
  .mainmenu > ul > li:last-child {
    border: none;
  }
  .mainmenu .mainmenu-submenu {
    position: relative;
  }
  .mainmenu-submenu h4 {
    padding-top: 0.6em;
  }
  .mainmenu .mainmenu-submenu-inner > div {
    width: 100%;
    float: none;
    padding: 0;
  }
}

/* stolen css styles */

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #105BA1;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #105BA1;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #105BA1;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #105BA1;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  z-index: 21;
  padding: 3px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  border-bottom: none !important;
}
@media screen and (max-width: 767px) {
  .fh5co-nav-toggle {
    display: block;
  }
}
#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #fh5co-header .navbar-brand {
    color: #105BA1 !important;
  }
  #fh5co-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #fh5co-header #navbar li a:hover {
    color: #105BA1 !important;
  }
  #fh5co-header #navbar li a span:before {
    background: transparent !important;
  }
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #105BA1 !important;
  }
  #fh5co-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 1.2em;
  display: inline-block;
  text-decoration: none;
  color: #999;
  position: relative;
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #105BA1;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
  color: #105BA1;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #105BA1;
  font-weight: bold;
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #105BA1;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #105BA1;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #105BA1;
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#fh5co-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  text-align: center;
}
