html {
  height: 100%;
}
body {
  color: #535b60;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 20px;
  margin: 0;
}
#root {
  height: 100%;
}
h1 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
h2 {
  border-bottom: 2px solid #53555c;
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin: 30px 0;
  padding-left: 10px;
}
h3 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}
h4 {
  color: #53555c;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
a {
  color: #105BA1;
}
a:hover {
  color: #2f556d;
  text-decoration: none;
}
