.container {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .body {
    font-size: 18px;
    line-height: 1.5;
    margin: 50px 30px;
  }

  .left {
    display: inline-block;
    margin-right: 20px;
  }

  .right {
    display: inline-block;
  }
}

@media (min-width: 769px) {
  .body {
    font-size: 18px;
    line-height: 1.5;
    margin: 50px auto;
    width: 60%;
  }

  .left {
    display: inline-block;
    margin-right: 20px;
    width: 70%;
  }

  .right {
    display: inline-block;
    width: 25%;
  }
}

.image {
  max-height: 100%;
  max-width: 100%;
}
